* {
    font-size: 12px;
    font-weight: 800;
    font-family: "0xproto Nerd Font";
}

window#waybar {
    color: #FFFFFF;
    background-color: rgba(34, 36, 54, 0.5);
}

#backlight,
#battery,
#clock,
#cpu,
#custom-notification,
#language,
#memory,
#mode,
#mpris,
#network,
#scratchpad,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
    background: rgba(45, 63, 118, 1);

    border-radius: 5px;
    padding: 1px 10px;

    margin: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
    padding: 0px;
    background-color: transparent;
}

#workspaces button {
    color: #FFFFFF;
    margin: 0px 3px;
    padding: 0px 2px;
    border-radius: 5px;
    background-color: rgba(45, 63, 118, 1);
}

#workspaces button:hover,
#workspaces button.focused {
    color: rgba(27, 29, 43, 1);
    background: rgba(200, 211, 245, 1);
}

#workspaces button.urgent {
    color: rgba(27, 29, 43, 1);
    background-color: rgba(255, 117, 127, 1);
}

#mode {
    color: rgba(255, 216, 171, 1);
    background-color: rgba(45, 63, 118, 1);
}

.modules-left>widget:first-child#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child#workspaces {
    margin-right: 0;
}

#backlight {
    color: rgba(255, 216, 171, 1);
}

#battery {
    color: rgba(178, 235, 255, 1);
}

#battery.charging {
    color: rgba(195, 232, 141, 1);
}

#battery.critical {
    color: rgba(192, 153, 255, 1);
}

#battery.warning {
    color: rgba(255, 216, 171, 1);
}

#cpu {
    color: rgba(255, 141, 148, 1);
}

#custom-notification {
    padding-left: 12px;
    padding-right: 7px;
    color: rgba(202, 171, 255, 1);
}

#language {
    color: rgba(178, 235, 255, 1);
}

#memory {
    color: rgba(154, 184, 255, 1);
}

#mpris.playing {
    color: rgba(192, 153, 255, 1);
}

#mpris.pausedd {
    color: rgba(130, 139, 184, 1);
}

#network {
    padding-left: 11px;
    padding-right: 15px;
}

#network,
#network.wifi,
#network.linked,
#network.ethernet {
    color: rgba(199, 251, 109, 1);
}

#network.disabled,
#network.disconnected {
    color: rgba(130, 139, 184, 1);
}

#scratchpad {
    color: rgba(255, 216, 171, 1);
}

#temperature {
    color: rgba(199, 251, 109, 1);
}

#temperature.critical {
    color: rgba(255, 117, 127, 1);
}

#tray {
    color: rgba(192, 153, 255, 1);
}

#wireplumber {
    padding-left: 12px;
    padding-right: 15px;
    color: rgba(134, 225, 252, 1);
}

#wireplumber.muted {
    color: rgba(202, 171, 255, 1);
}

.control-center-content {
    margin: 5px 10px 0 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(30, 30, 30, 0.95);
}
